@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5rem;
  font-family: "Poppins", "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-size: 3em;
  line-height: 1.2;
  font-weight: bolder;
}
h2 {
  font-size: 2.2em;
  line-height: 1.1;
}
h3 {
  font-size: 1.6em;
  line-height: 1.1;
}
h4 {
  font-size: 1.2em;
  line-height: 1.1;
}

p {
  font-size: medium;
  letter-spacing: 0.1px;
  line-height: 2rem;
}
.title {
  color: transparent;
  background: linear-gradient(
    135deg,
    lime,
    white,
    rgb(0, 255, 255),
    white,
    orange
  );
  background-clip: text;
}

.logo-clipped {
  color: transparent;
  background: linear-gradient(135deg, rgb(17, 244, 66), rgb(0, 255, 255));
  background-clip: text;
}

:root {
  --font-arial: Arial, san-serif;
  --font-sup: "Superbrigade", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: border 200ms ease-in;
}

body {
  min-width: 280px;
  min-height: 100vh;
  font-family: "Montserrat"
    /* "Segoe UI", Tahoma, Geneva, Verdana, sans-serif */;
}

.ring-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00c656;
  cursor: pointer;
  transition: border-color 0.25s;
}
.ring-button:hover {
  border-color: #29d25c;
}

.ring-button:focus,
.ring-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #191f24;
    background-color: #ffffff;
  }
  .ring-button {
    background-color: #f9f9f9;
  }
}
/* 
@media screen and (min-width: 899px) {
  * {
    font-: px;
  }
} */
